<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^rezepte.runepiper.de$ [NC]
    RewriteRule (.*) https://rezepte.runepiper.de/$1 [R=301,L]

    # Exclude directories and files from rewriting
    RewriteRule ^uploads/ - [NC,L]
    RewriteRule ^styles.css - [NC,L]

    RewriteRule ^([A-Z0-9]{32})$ index.php?action=recipe&recipe=$1 [NC,L]
    RewriteRule ^.*$ index.php [NC,L]
</IfModule>
