<IfModule mod_rewrite.c>
    RewriteEngine On

    # Exclude directories and files from rewriting
    # RewriteRule ^assets - [NC,L]
    # RewriteRule ^media/persons/ - [NC,L]
    # RewriteRule ^beispieldatei.csv - [NC,L]

    RewriteRule ^([A-Z0-9]{32})$ index.php?action=recipe&recipe=$1 [NC,L]
    RewriteRule ^.*$ index.php [NC,L]
</IfModule>
