/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,video{height:auto;max-width:100%}audio{max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/* Html */
.html {
  font-family: monospace;
  font-size: 20px;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.3;
}

@media (prefers-color-scheme: dark) {
  .html {
    background-color: #333333;
    color: #ffffff;
  }
}

/* Body */
.body {
  padding: 20px;
  max-width: 750px;
}

/* Headline */
.headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-bottom: 10px;
}

/* Form */
.form {
  margin-bottom: 40px;
}

.form__label.form__label--hidden {
  display: none;
}

.form__input {
  padding: 10px;
  font-family: monospace;
  font-size: 1rem;
  color: currentColor;
  line-height: 1;
  width: 100%;
  border: 1px solid #888888;
  background-color: #ffffff;
  -moz-appearance: none;
  -webkit-appearance: none;
}

@media (prefers-color-scheme: dark) {
  .form__input {
    background-color: #333333;
  }
}

.form__input.form__input--unobtrusive {
  opacity: 0.5;
}

.form__input.form__input--unobtrusive:hover {
  opacity: 1;
}

/* Navigation */
.navigation {
  color: #888888;
  font-size: 0.75rem;
}

.navigation__item {
  display: inline;
}

.navigation__item:not(:last-child)::after {
  content: '—';
}

/* List */
.list.list--small {
  font-size: 0.75rem;
}

.list__item {
  position: relative;
  line-height: 1.1;
  padding-left: 20px;
  padding-bottom: 5px;
}

.list.list--small .list__item {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.list__item::before {
  content: '#';
  color: #888888;
  position: absolute;
  left: 0;
}

.list__link {
  color: currentColor;
}

/* Link */
.link {
  color: currentColor;
}

/* Article */
.article {
  position: relative;
  margin-bottom: 40px;
}

.article h1 {
  display: none;
}

.article h2 {
  display: none;
}

.article table {
  font-size: 0.75rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media all and (min-width: 600px) {
  .article table {
    font-size: 1rem;
    font-weight: bold;
  }
}

.article thead {
  display: none;
}

.article tr {
  display: block;
}

.article tr:not(:last-child) {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #888888;
}

@media all and (min-width: 600px) {
  .article tr {
    display: table-row;
  }

  .article tr:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.article td {
  display: inline;
}

@media all and (min-width: 600px) {
  .article td {
    display: table-cell;
  }

  .article td:not(:first-child) {
    padding-left: 20px;
  }
}

.article p {
  font-size: 0.75rem;
  margin-bottom: 10px;
}

@media all and (min-width: 1400px) {
  .article img {
    position: absolute;
    top: 0;
    left: 750px;
    right: 0;
    width: calc(100% - 750px);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    width: 100%;
  }
}

/* Main */
.main {
  margin-bottom: 40px;
}

.main::after {
  display: block;
  clear: both;
  content: '';
}

/* Footer */
.footer {
  color: #888888;
  font-size: 0.75rem;
}
